:root {
    --heading-dark: #f5f4ebdd;
    --paragraph-dark: #f5f4ebdd;
    --bullet-dark: #f5f4eb77;
    --border-dark: #CECDC355;
    --background-dark: #000000;

    --heading-light: #000000f0;
    --paragraph-light: #000000f0;
    --bullet-light: #00000088;
    --border-light: #00000044;
    --background-light: #f5f4eb;

    /* Dark mode by default; will use light mode if the
     operating system requests it (look at bottom
     of file for the media query) */
    --heading-color: var(--heading-dark);
    --paragraph-color: var(--paragraph-dark);
    --bullet-color: var(--bullet-dark);
    --border-color: var(--border-dark);
    --background-color: var(--background-dark);
}

body {
    background-color: var(--background-color);

    margin: 0px;

    touch-action: none;
    overscroll-behavior: none;

    overflow: hidden;
    position: relative;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: calc(100vh - 70px); */
    height: calc(100vh - 50px);

    margin: 0px;

    touch-action: none;
    overscroll-behavior: none;

    overflow: hidden;
}

article {
    display: block;
    overflow: auto;

    width: 100%;
    max-width: 500px;

    padding-top: 0px;
    padding-bottom: calc(60px + (100vh - 100dvh));
    padding-left: 27px;
    padding-right: 27px;
    overscroll-behavior: contain;
}

.mobile-decor {
    display: none !important;

    position: absolute;

    height: 100dvh;
    width: auto;

    min-height: 0;
    min-width: 0;

    left: calc(50dvw - 25dvh);

    opacity: 0.15;
    filter: blur(8px);
}

@media screen and (max-width: 50dvh) {
    .mobile-decor {
        width: 100dvw;
        height: auto;
        left: 0;
    }
}

.decor {
    width: calc(100dvw / 2 - 300px);
    max-width: 700px;
    height: auto;

    position: absolute;

    min-height: 0;
    min-width: 0;

    /* filter: blur(6px); */

    /* z-index: 999; */
    opacity: 0.7;
    content-visibility: auto;
}

.decor-left {
    right: calc(100dvw / 2 + 300px);
}

.decor-right {
    left: calc(100dvw / 2 + 300px);
}

h1 {
    font-size: 40px;
    font-family: "IBM Plex Serif",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 500;
    color: var(--heading-color);

    margin: 0;
    margin-bottom: 32px;
    margin-top: 90px;
    line-height: 50px;

    /* user-select: none; */
    /* -webkit-user-drag: none; */
}

.top-page-icon {
    margin-bottom: -50px;
    border-radius: 10px;
    display: block;
    width: 80px;
    height: 80px;

    transition: background-color 100ms,
        scale 50ms;
}

.top-page-icon img {
    width: 80px;
    height: 80px;
}

img {
    -webkit-user-drag: none;
}

h2 {
    font-size: 24px;
    font-family: "IBM Plex Serif",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 400;
    color: var(--heading-color);

    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 57px;
    line-height: 32px;
}

li {
    /* list-style-type: "•  "; */
    list-style-type: "∗  ";
    /* list-style-type: "★  "; */
}

li::marker {
    color: var(--bullet-color);
}

li ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

li,
p {
    font-size: 17px;
    font-family: "IBM Plex Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    word-spacing: 2px;
    color: var(--paragraph-color);

    line-height: 25px;
    margin-top: 0;
    /*margin-bottom: 27px;*/
}

li a,
p a {
    /* text-decoration: underline; */
    /* text-decoration-thickness: 0px; */
    /**/
    /* transition: */
    /*     text-decoration 100ms; */
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-decoration-color: transparent;

    transition:
        text-decoration-color 200ms;
}

li a:hover,
p a:hover {
    text-decoration-color: inherit;
}

.nav a {
    margin: -6px;
    border-radius: 8px;
    display: inline-block;
    border: none;

    transition: background-color 50ms;
}

.nav a:active,
h1 a:active {
    scale: 90%;
}

/* NAV BUTTONS */

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    z-index: 100;
    background-color: var(--background-color);

    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 16px;
    padding-left: 27px;
    padding-right: 27px;

    border-top: 2px solid var(--border-color);

    width: 446px;
    max-width: calc(100vw - 108px);

    box-shadow: 0px calc(100dvw - 30px) 40px 100dvw #000000;

    touch-action: none;
    overscroll-behavior: none;
}

.nav li {
    list-style: none;
    font-size: 30px;
    font-family: "IBM Plex Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0px 5px 0px 5px;
}

.nav li:first-child {
    margin-left: 0px;
}

.nav li:last-child {
    margin-right: 0px;
}

.nav li a {
    display: block;
    padding: 0px;
}

.nav li a img {
    width: 50px;
    height: 50px;
}

/* GRID GALLERY */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin: 0;
    margin-top: 50px;
}

/* Kinda unused lowk */
.grid-item {
    aspect-ratio: 1 / 1;

    background-color: var(--background-color);
    backdrop-filter: blur(18px);

    padding: 20px;

    transition: bottom 200ms,
        box-shadow 200ms,
        scale 200ms;

    border-radius: 20px;
    border: 1px solid var(--border-color);

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 50%);

    /*Text*/

    text-decoration: none;
    font-size: 25px;
    font-family: "IBM Plex Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--paragraph-color);

    /* Image background */
    background-size: 101%;
    background-position: center;
}

.grid-item:hover {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 100%);
    scale: 103%;
    /*z-index: 20;*/
}

.showcase-img-container {
    width: 100%;
    display: flex;
}

.showcase-img {
    max-width: 300px;
    margin-bottom: 60px;
}

/* COLORS */

/* Blue */
.blue {
    color: rgba(143, 191, 220, 100%);
}

h1 a.blue:hover,
.nav a.blue:hover {
    background-color: rgba(143, 191, 220, 20%);
}

/* Yellow */
.yellow {
    color: rgba(231, 171, 95, 100%);
}

h1 a.yellow:hover,
.nav a.yellow:hover {
    background-color: rgba(231, 171, 95, 20%);
}

/* Green */
.green {
    color: rgba(153, 171, 107, 100%);
}

h1 a.green:hover,
.nav a.green:hover {
    background-color: rgba(153, 171, 107, 20%);
}

/* Red */
.red {
    color: rgba(226, 106, 76, 100%);
}

h1 a.red:hover,
.nav a.red:hover {
    background-color: rgba(226, 106, 76, 20%);
}

/* White */
.white {
    color: var(--heading-color);
}

h1 a.white:hover,
.nav a.white:hover {
    background-color: rgba(225, 225, 205, 20%);
}

/* MISC */
.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard syntax */
}

@media screen and (max-height: 700px),
(max-width: 700px) {
    /* article { */
    /*     min-height: calc(100vh - 160px); */
    /* } */

    h1 {
        margin-top: 50px;
    }

    main {
        /* align-items: baseline; */
        min-height: 0;
    }
}

/* @media screen and (max-width: 90dvh), */
@media screen and
/* (min-height: 2200px), */
(max-width: 1200px) {
    .decor {
        display: none !important;
    }

    .mobile-decor {
        display: block !important;
    }

    /* p, */
    /* li { */
    /*     font-weight: 450; */
    /* } */
    /**/
    /* h2 { */
    /*     font-weight: 450; */
    /* } */
}

.light-only {
    display: none;
}

.dark-only {
    display: block;
}

@media (prefers-color-scheme: light) {
    :root {
        --heading-color: var(--heading-light);
        --paragraph-color: var(--paragraph-light);
        --bullet-color: var(--bullet-light);
        --border-color: var(--border-light);
        --background-color: var(--background-light);
    }

    .nav {
        box-shadow: 0px calc(100dvw - 30px) 40px 100dvw var(--background-light);
    }

    .white {
        filter: brightness(30%);
    }

    .red {
        filter: brightness(70%) saturate(170%);
    }

    .blue {
        filter: brightness(70%) saturate(200%);
    }

    .green {
        filter: brightness(70%) saturate(200%);
    }

    .yellow {
        filter: brightness(60%) saturate(250%);
    }

    .light-only {
        display: block;
    }

    .dark-only {
        display: none;
    }
}
