<div class="nav-container">
    <ul class="nav">
        <li>
            <a href="/" class="white">
                <img src="/assets/icons/home.png" fetchpriority="high" />
            </a>
        </li>
        <li>
            <a href="/about/" class="blue">
                <img src="/assets/icons/about.png" fetchpriority="high" />
            </a>
        </li>
        <li>
            <a href="/music/" class="green">
                <img src="/assets/icons/music.png" fetchpriority="high" />
            </a>
        </li>
        <li>
            <a href="/games/" class="red">
                <img src="/assets/icons/games.png" fetchpriority="high" />
            </a>
        </li>
        <li>
            <a href="/extras/" class="yellow">
                <img src="/assets/icons/extras.png" fetchpriority="high" />
            </a>
        </li>
    </ul>
</div>
